.idea/
.sonar/
**/*.iml
*.iml
*.hprof
Telstra24x7/gen/
Telstra24x7/bin/
build/
out/
tmp/
bin/
target/
gen-external-apklibs/
CalabashAndroid/calabash/test_servers/
.DS_Store
.gradle/
UnitTest/cobertura.ser
Telstra24x7/${env.DROPBOX_ROOT}/
google-play-services_lib_v9/gen/
Telstra24x7/res/raw/app_config.properties
UnitTest/velocity.log
google-play-services_lib_v9/project.properties
Telstra24x7/project.properties
